@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  background-color: #e3e9f7;
  flex: 1;
}

/* 
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  height: 100vh;
  border-radius: 0px 18px 18px 0px;
  position: relative;
  transition: all .5s;
  min-width: 82px;
  z-index: 2;
}

.sidebarContent {
  padding: 12px;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.userAvatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 20px;
}

.userInfos {
  display: flex;
  flex-direction: column;
}

.userInfos span:last-child {
  color: #6b6b6b;
  font-size: 12px;
}

.sideItems {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.sideItem {
  border-radius: 8px;
  padding: 14px;
  cursor: pointer;
}

.active {
  background-color: #4f46e5;
}

.sideItem:hover:not(.active),
.logoutBtn:hover {
  background-color: #e3e9f7;
}

.sideItem a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0a0a0a;
}

.active a {
  color: #e3e9f7;
}

.sideItem a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.logout {
  border-top: 1px solid #e3e9f7;
  padding: 12px;
}

.logoutBtn {
  border: none;
  padding: 12px;
  font-size: 14px;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

.openBtn {
  position: absolute;
  top: 30px;
  right: -10px;
  background-color: #4f46e5;
  color: #e3e9f7;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.openBtnIcon {
  transition: transform .3s ease;
}

.openSidebar .openBtnIcon {
  transform: rotate(180deg);
}

.itemDescription {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  transition: width .6s;
  height: 0px;
}

.openSidebar {
  min-width: 15%;
}

.openSidebar .itemDescription {
  width: 150px;
  height: auto;
}

.openSidebar .sideItem a {
  justify-content: flex-start;
  gap: 14px;
} */

/*Fim da nav*/

.nav {
    background-color: rgb(23, 175, 230);
    width: 100%;
    height: 50px;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.navContent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.containerContent {
    flex: 1;
}   

.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.divNewTask {
    background-color: #fff;
    width: 620px;
    border-radius: 20px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
}

.titleFormTask {
    color: rgb(23, 175, 230);
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.divNewTask .input, .select, .textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    resize: none;
}

.buttonFormNewTask {
    width: 100%;
    padding: 10px;
    background-color: rgb(23, 175, 230);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonFormNewTask:hover {
    background-color: #1a9cd6;
}
/*Aqui começa os estilos do modal de nova tarefa*/

.modalInside {
    position: absolute;
    top: 50px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;

}

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5); 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.buttonClsoModal {
    position: absolute;
    top: 15px;
    right: 20px;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #666;
}

.buttonClsoModal:hover {
    color: #4c89af;
}

.buttonNewTask {
    margin-top: 40px;
    margin-left: 40px;
    padding: 10px 25px;
    background-color: #4f46e5;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonNewTask:hover {
    background-color: #1a9cd6;
    transition: background-color 0.2s;
}

/*Aqui começa os estilos da tabela de tarefas*/

.divTableTask {
    width: 90%;
    margin: 20px auto;
    overflow-x: auto;
}

.modernTable {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modernTable thead {
    /* background-color: rgb(23, 175, 230); */
    /* background-color: #4f46e5;
     */
     background: transparent;
    color: #4f46e5;
    
}

.modernTable th, .modernTable td {

    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.modernTable tr:hover {
    background-color: #f5f5f5;
}

.status {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.selectStatus{
    width: 100%;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    outline: none;
    color: #fff;
    box-sizing: border-box;
}

/* .status.activeTask  {
    background-color: #28a745;
}

.status.inactive {  
    background-color: #dc3545;
} */

.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    color: rgb(57, 57, 57);
    text-align: center;
    height: 60px;
}

.deleteTask:hover, .editTask:hover {
    color: #c83323;
}
/* .selectStatus {
    background: transparent;
    border: none;
    color: white;
    outline: none;
}
.selectStatus:hover{
    color: #0a0a0a;
} */
.teste {
    margin: 40px;
}