body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8bb0e0;

}

.titleForm {
    text-align: center;
    padding: 15px;
    color: #074697;
}

.formReset {
    width: 450px;
    height: 320px;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(10px);
    gap: 10px;
    border-radius: 5px;
    padding: 25px;
}

.field-input {
    /* background-color: aquamarine; */

}

.field-input p {
    font-size: 18px;
    margin-bottom: 15px;
}

.field-input .input {
    width: 100%;
    height: 33px;
    border: none;
    /* border-radius: 5px; */
    outline: none;
    border: 2px solid #808080;
    padding: 5px;
    /* margin-bottom: 30px; */

}

.formReset .button {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 35px;
    margin-left: 90px;
    cursor: pointer;
    background-color: #87a3cb;
    color: rgb(42, 42, 42);
}

.formReset .button:hover {
    background-color: rgba(0, 38, 255, 0.771);
    color: white;
    transition: 0.4s;
    font-weight: bold;

}

.error-message {
    font-size: 14px;
    /* margin: 5px; */
    color: red;
    z-index: 1000;
    position: fixed;
}

.success-message {
    position: fixed;
    color: green;
    margin: auto;
}